<h1>Portfolios items</h1>
<%= link_to "Create new", new_portfolio_url %>
<% @portfolios_items.each do |portfolios_items| %>
<p><%= link_to portfolios_items.title, portfolio_path(portfolios_items) %></p>
<p><%= portfolios_items.subtitle %></p>
<p><%= portfolios_items.body %></p>
<%= image_tag portfolios_items.thumb_image unless portfolios_items.thumb_image.nil? %>
<%= link_to "Edit portfolio", edit_portfolio_path(portfolios_items.id) %>
<%= link_to 'Destroy', portfolio_path(portfolios_items), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
